<nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
    <div class='container-fluid'>
        <a class='navbar-brand' href='#'>My todo list</a>
        <button
                class='navbar-toggler'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#navbarCollapse'
                aria-controls='navbarCollapse'
                aria-expanded='false'
                aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarCollapse'>
            <ul class='navbar-nav me-auto mb-2 mb-md-0'>
                <li class='nav-item'>
                    <a
                            class='nav-link active'
                            aria-current='page'
                            href='/'
                    >Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/lists'>Lists</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/lists/new'>New list</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/todos'>Todos</a>
                </li>
                {{#if user}}
                    <li class="nav-item nav-link">{{user.name}}</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>
                {{else }}
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/signup">Signup</a>
                    </li>
                {{/if}}
            </ul>
            <form method="get" action="?" class='d-flex' role='search'>
                <input type="hidden" name="completed" value="{{completed}}">
                <input
                        class='form-control me-2'
                        type='search'
                        name="q"
                        value="{{q}}"
                        placeholder='Search'
                        aria-label='Search'
                />
                <button
                        class='btn btn-outline-success'
                        type='submit'
                >Search
                </button>
                <button
                        onclick="this.parentNode.q.value=''"
                        class='btn btn-outline-success'
                        type='reset'
                >RESET
                </button>
            </form>
        </div>
    </div>
</nav>
